
body {background-color: green;}

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

/* Column Layout*/
.container {
  @include outer-container;
}

.left-nav {
  @include span-columns (4);
}

.top-nav {
  @include span-columns (8 of 12);
  display: inline-block;
}

body a{
  color: RGBA(56, 171, 194, 1);
  text-decoration: none;
}

body li {
  list-style: none;
}

.colored-button {
  background-color: RGBA(56, 171, 194, 1);
  height:37px;
  width:94px;
  color: white;
  border-radius: 5px;
}

.colored-button-shop {
  background-color: RGBA(56, 171, 194, 1);
  height:24px;
  width:94px;
  color: white;
  border-radius: 5px;
}

.logo-name {
  color: RGBA(244, 86, 35, 1);
  font-size: 3em;
}
